################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/cpp_learning/.vs/class_Object/v15/ipch
