################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/cpp_learning/.vs/class_Object/v15/ipch
/cpp_learning/.vs/class_Object/v15
/cpp_learning/smartpointer/x64/Debug
/cpp_learning/template_func/x64/Debug
/cpp_learning/x64/Debug
/cpp_learning/class_Object/x64/Debug
